<p id="notice"><%= notice %></p>

<p>
  <strong>Vano:</strong>
  <%= @calccond.vano_id %>
</p>

<p>
  <strong>Condclima:</strong>
  <%= @calccond.condclima_id %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @calccond.temp %>
</p>

<p>
  <strong>Viento:</strong>
  <%= @calccond.viento %>
</p>

<p>
  <strong>Hielo:</strong>
  <%= @calccond.hielo %>
</p>

<p>
  <strong>Tension:</strong>
  <%= @calccond.tension %>
</p>

<p>
  <strong>Tiro:</strong>
  <%= @calccond.tiro %>
</p>

<p>
  <strong>Flecha t:</strong>
  <%= @calccond.flecha_t %>
</p>

<p>
  <strong>Flecha v:</strong>
  <%= @calccond.flecha_v %>
</p>

<p>
  <strong>Flecha h:</strong>
  <%= @calccond.flecha_h %>
</p>

<%= link_to 'Edit', edit_calccond_path(@calccond) %> |
<%= link_to 'Back', calcconds_path %>
